<div class="app-wotagei-page">
    <h1>List video I'm dance Wotagei</h1>

    <div class="list-video">
        <iframe class="yt-player"
            width="560" height="315" 
            src="https://www.youtube.com/embed/bCvNn1Rn9fI" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>

        <iframe class="yt-player"
            width="560" height="315" 
            src="https://www.youtube.com/embed/Rtdnjyve-hk" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>

        <iframe class="yt-player"
            width="560" height="315" 
            src="https://www.youtube.com/embed/8m9F3jUNLtw" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>

        <iframe class="yt-player"
            width="560" height="315" 
            src="https://www.youtube.com/embed/hPO9Vz_tqpU" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>

        <iframe class="yt-player"
            width="560" height="315" 
            src="https://www.youtube.com/embed/qW3cP7EmKUs" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>

        <iframe class="yt-player"
            width="560" height="315" 
            src="https://www.youtube.com/embed/Utl25IV1XYA" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
    </div>

    <div class="more">
        <span>See more in: </span>
        <a href="https://www.youtube.com/@WotageiNINL/featured">WotageiNINL</a>
    </div>

    <h2 [routerLink]="['']" class="go-back">
        <i class="uil uil-step-backward"></i>
        Go back to my porfolio
    </h2>
</div>